body {
    font-family:Helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:cornsilk ;
}

.scoreboard {
    background-color:rgb(79, 180, 196);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scoreboard h1{
    text-align:center;
}

.scores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.player-name{
    flex: 1;
}
.player-score{
    flex: 0 0 50px;
    text-align: center;
}
.bowler {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.bowler-name{
    flex: 1;
}

.bowler-score {
    flex: 0 0 50px;
    text-align: center;
}

.player.strike{
    background-color: yellow;
    transition: 0.5s;
}

.buttons {
    padding: 8px 12px;
    border: 1px solid black;
    display: flex;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
    font-variant:small-caps;

}

.buttons:hover{
    background-color: #0056b3;
}

